
.fundo {
    color: #f9e7bf;
}
    
.principal {
    color: #fcdd99;
}

.backgrand {
    color: #f7a541;
}

.foto {
    width: 300px;
    
}

.cabecalho {
    text-align: center;
    color: rgb(53, 108, 54);
    font-size: 17px;
    border-bottom:#f7a541 solid 2px ;
    top:200px ;
}

.titulo, h1 {
    font-family:sans-serif;
    color: rgb(5, 75, 6))0, 255, 4);
    text-align: center;
}

.titulo, h2 {
    font-family:sans-serif;
    color:rgb(6, 143, 68);
}

.titulo, h3, h4 {
    font-family:sans-serif;
    color: rgb(53, 108, 54);
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h4 {font-size: 1.2rem;}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9e7bf;
    font-size: 15px;
}

.rodape { 
    background-color:#fcdd99;
    border:1px solid,#f7a541;
}

.menu {
       list-style:none;
        border:1px solid,#f7a541 ;
        float:center;
        text-align: center;
        background-color: #fcdd99;
        padding: 0.2em;
       display: inline-block
}
.experiencia {
    position: absolute;
    top:710px ;
    left: 62%;
    width:34%;
    padding-right: 2%;
}

.educacao {
    top:690px;
}